
body {
    background-color: #241609;
    color: #f4f4f4;
}

.header{
    background-color: #3a1d02;
    color: #e4d617;
    border: #723B20;
}

.main-content{
    background-color: #38230e;
}

.block{
    background: #6e450f;
}

#rock{
    color: #e01515;
    background-color:#2c1b0b;
}

#main-h2{
    color: #f4f4f4;
}

#art2 h2{
    color: #f4f4f4;
}

#art2 li{
    background-color: #6e450f;
    box-shadow: 10px 2px 5px rgba(116, 4, 160, 0.3);
    color: #d8ccc5;
}

#art2 .image-container img {
    box-shadow: rgba(0, 0, 0, 0.1);
}

main .price{
    background-color: #520101;
    color: #D2B48C;
    box-shadow: rgba(0, 0, 0, 0.2);
}

main .image-wrapper:hover .price {
    background-color: #03084b; /* Изменение цвета ценника при наведении */
}

#depr1{
    background-color: #000000;
    color: #a09c99;
}

blockquote{
    color: #5ed328; 
    /* border-left: 5px solid #1f2752; */
    border-left: #1f2752;
}

audio{
    background: #723B20;
}

.custom-audio::-webkit-media-controls-panel, 
.audio-main::-webkit-media-controls-panel {
    background: #6b2e0f;
}

.custom-audio::-webkit-media-controls-current-time-display,
.custom-audio::-webkit-media-controls-time-remaining-display {
    color: rgb(169, 161, 170);
}

.custom-audio {
    background: #2c0b01;
}
  
footer{
    color: #ccc;
}

.review-feed{
    background-color: #38230e;
    color: #a09c99;
}

.review{
    background-color: #530202;
    color: #b14405;
}

#subm{
    background-color: #612604;
}

#subm:hover{
    background-color: #996d42;
}

input::placeholder, 
textarea::placeholder{
  color: #cf8309;
  
}