/* * {
    
} */

/* .roboto-font {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
} */

@import "reset.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



@media (max-width: 1200px) {
  .main-first {
      grid-template-columns: 1fr 2fr 1fr;
  }
  .block {
      width: 80%;
  }
  html{
    max-width: 1920px;
  }
}

@media (max-width: 768px) {
  .main-first {
      grid-template-columns: 1fr 1fr !important;
      padding: 0;
  }
  .right-adv {
      display: none !important; /* Скрываем боковые колонки */
  }
  .block {
      width: 100% !important;
      margin-left: 0 !important;
      padding: 15px;
  }
  .image-container {
      flex-direction: column;
  }
  .image-wrapper {
      width: 100%;
      margin-bottom: 20px;
  }
  .block:nth-child(even) {
    margin-left: 0 !important; /* Убираем смещение для чётных блоков */
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  html, body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: hidden; /* Скрывает горизонтальную прокрутку */
  }
  .main-first{
    grid-template-columns: 1fr !important;
    padding: 2px !important;
    margin: 0 !important;
    width: 100% !important;
    max-width: none !important;
    margin: 0px !important;
    gap: 0px !important;
  }
  .main-content{
    /* padding: 10% !important; кринж, но работает */
  }
  .price {
    font-size: 12px;
    padding: 5px 10px;
  }
  .block{
    width: 100% !important;
    margin-left: 0 !important;
    padding: 10% !important;
  }
  .header {
    margin: 0 !important;
    padding: 10px !important;
    border-radius: 0;
    font-size: 24px;
  }
  .left-adv, .right-adv {
    display: none !important;
  }
}
@media (max-width: 320px) {
  html, body {
    min-width: 320px; /* Фиксирует минимальную ширину */
  }

  .main-first, .header {
    width: 100% !important;
    max-width: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
/* ааааа, не работает */
/* @media (max-width: 320px) {
  .main-first {
      width: 100% !important;
      max-width: none !important;
      padding: 0 !important;
      margin: 0 !important;
      grid-template-columns: 1fr;
      gap: 0;
  }
  body, main {
      width: 100% !important;
      margin: 0 !important;
      padding: 0 !important;
  }
} */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif; 
    background-color: #723B20;
    display: flex;
    flex-direction: column;
    /* font-size: 16px; */
    /* align-items: center; */
}

/* Заголовок с лого */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: #D2B48C;
    color: #723B20;
    border: medium #723B20;
    border-radius: 1cm;
    font-weight: bold;
}

.logo{
    width: 150px;
    height: auto;
    margin-right: 5px;
}

/* Основное */

/* main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 20px;
    background-color: #723B20;
}
*/

.img-scale-horiz{
  transform: scale(-1, 1);
}

.left-adv, .right-adv {
  padding: 15px;
  overflow-y: auto; /* Прокрутка внутри aside (нифига не работает - можно смириться)*/
  display: flex;
  flex-direction: column;
  position: relative;
}

.left-adv .fixed-image, .right-adv .fixed-image{
  /* position: sticky; */
  top: 20px;
  max-width: 100%;
  /* width: 150px; */
  height: auto;
  border-radius: 10px;
  
}

.main-first{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 15px;
  gap: 5px;
  width: 100%;
  max-width: 100%;
  /* background-color: #723B20; */
}

.main-content{
  background-color: #CC7722;
  border-radius: 2cm;
  padding: 25px 30px 10px;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  gap: 10px;
  /* display: flex; */
  word-wrap: break-word;
  font-size: inherit;
  font-weight: inherit;
  /* overflow-y: auto */
}

#art1{
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.block{
  width: 60%;
  padding: 25px;
  background: #ebbe83;
  border-radius: 1cm;
}

/* Шахматный порядок */
.block:nth-child(even) {      
  margin-left: auto;
}

#art2{
  margin: 20px auto;
  text-align: center;
}

#art2 h2{
  color: #800000;
  margin-bottom: 20px;
}

#art2 ul {
  list-style-type: none;
  padding-left: 0;
}

#art2 li {
  background-color: #CC7722;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 1cm;
  box-shadow: 10px 2px 5px rgba(19, 0, 87, 0.1);
  font-size: 1.1em;
  line-height: 1.6;
  color: #2c2c2c;
}

#art2 li strong {
  font-size: 1.2em;
}

/* #art2 .image-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
} */

main .image-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

main .image-wrapper {
    position: relative;
    /* width: 45%; */
    border-radius: 10px;
    overflow: hidden;
    display: block;
    padding: 5px;
}

main .image-wrapper img {
  /* width: 100%; */
  display: block;
  border-radius: 10px;
}

#art2 .image-container img {
  width: 90%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  object-fit: contain;
}

main .price {
  position: absolute;
  bottom: 5%;
  right: 5%;
  right: 10px;
  background-color: #800000;
  color: #D2B48C;
  padding: 5px 10px;
  border-radius: 1cm;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

main .image-wrapper:hover .price {
  background-color: #030b88; /* Изменение цвета ценника при наведении */
}

#depr1{
  background-color: #2c2c2c;
  padding: 10px;
  border-radius: 1cm;
  margin: 0px;
  max-width: 100%;
  width: 100%;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #CC7722;
}

#depr1 .image-wrapper{
  padding-bottom: 20px;
}

#depr1 .price{
  position: absolute;
  /* top: 10px; */
  /* left: 5px; */
  left: 1%;
  font-size: 12px;
  text-align: center;
  padding: 5px 15px;
}

.reviews{
  /* grid-template-columns: 0fr 4fr 0fr; */
  text-align: center;
}

h2{
  text-align: center;
  font-size: 24px;
  padding-bottom: 14px;
}

h3{
  font-size: 20px;
  padding-bottom: 7px;
}

p{
  padding-bottom: 7px;
}

blockquote { 
  font-style: italic; 
  color: #555; 
  border-left: 5px solid #ccc; 
  margin: 20px 0; 
  padding: 10px 20px; 
}

audio{
  background: #723B20;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 500px;
  margin: 20px auto;
}

/* Стилизация контейнера */
/* .audio-container {
  max-width: 500px;
  margin: 20px auto;
  border-radius: 15px;
  padding: 15px;
} */

/* Стилизация стандартного плеера */
.custom-audio {
  width: 100%;
  outline: none;
}

/* Кастомизация для WebKit (Chrome, Safari) */
.custom-audio::-webkit-media-controls-panel {
  background: #723B20;
  border-radius: 10px;
}

.audio-main::-webkit-media-controls-panel {
  background: #723B20;
  border-radius: 1px;
}



.custom-audio::-webkit-media-controls-current-time-display,
.custom-audio::-webkit-media-controls-time-remaining-display {
  color: white;
}

/* Для Firefox */
.custom-audio {
  background: #CC7722;
  border-radius: 10px;
}

footer{
  margin-top: 30px;
  color: #ccc;
}